.about {
  // width: 100%;
  //   height: 100vh;
  background-color: var(--bg-color);
  background-image: url("/assets/images/grid.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 25rem 0rem 25rem;

  @include smallmobile {
    padding: 11.4rem 2rem 8.8rem;
  }

  @include tablet {
    padding: 25rem 2rem 25rem;
  }
  // @include laptop {
  //   padding: 25rem 2rem 25rem;
  // }

  .k-container {
    @include smallmobile {
      text-align: start;
    }
  }

  .about-title {
    font-size: 7.2rem;
    line-height: 8rem;
    padding: 2rem 0rem 1.2rem;
    @include smallmobile {
      line-height: unset;
      padding: 2.4rem 0rem 2.4rem;
      font-size: 3.4rem;
      line-height: 4rem;
    }
  }

  p {
    @include smallmobile {
      // margin-bottom: 2.4rem;
      font-size: 1.8rem;
    }
  }
}

.our-story {
  // width: 100%;
  //   height: 100vh;
  background-color: white;
  background-image: url("/assets/images/grid.svg");
  padding: 8rem 0 0 0;

  .k-container {
    margin: 0 24rem;
    @include smallmobile {
      margin: 0;
    }
    @include tablet {
      margin: 0;
    }
    @include laptop {
      margin: 0;
    }
  }

  @include smallmobile {
    padding: 8rem 2rem 0;
  }

  @include tablet {
    padding: 8rem 2rem 0;
  }
  @include laptop {
    padding: 8rem 2rem 0;
  }
  br {
    margin-bottom: 3.2rem !important;
  }
  .title {
    padding-bottom: 3.2rem;
  }
  .story {
    // font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .founders {
    font-size: 18px;
    line-height: 27px;
    color: black;
    padding: 3.2rem 0 0.2rem 0;
  }
  .co-founder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    padding-bottom: 13.2rem;
    color: #000000;

    @include smallmobile {
      padding-bottom: 8.8rem;
    }
  }
}

.our-values {
  background-color: var(--bg-color);
  padding: 9.2rem 0;

  @include smallmobile {
    padding: 8.8rem 2rem;
  }

  @include tablet {
    padding: 8rem 2rem;
  }
  @include laptop {
    padding: 8rem 2rem;
  }

  .k-container {
    .k-row {
      align-items: start;

      @include smallmobile {
        flex-direction: column;
        gap: 3.6rem;
      }
      .left {
        flex: 1;
        font-size: 6rem;
        line-height: 5.2rem;

        @include smallmobile {
          font-size: 3.2rem;
          line-height: 4rem;
        }
      }
      .right {
        flex: 1;
      }

      .create {
        font-size: 32px;
        line-height: 42px;
        /* identical to box height, or 131% */

        letter-spacing: -0.006em;
        @include smallmobile {
          font-size: 2.4rem;
          line-height: 2.4rem;
        }
      }
      .create-sub {
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: -0.006em;
        // padding-bottom: 4.2rem;
        padding: 0.6rem 0 4.2rem 0;
      }
    }
  }
}

.faces {
  background-color: white;
  background-image: url("/assets/images/grid.svg");
  padding: 13.2rem 0;
  @include smallmobile {
    padding: 8.8rem 2rem;
  }

  @include tablet {
    padding: 8rem 2rem;
  }
  @include laptop {
    padding: 8rem 2rem;
  }
  .k-container {
    p {
      span {
        color: #a4a4a4;
      }
      font-size: 5.2rem;
      line-height: 5.8rem;
      padding-bottom: 6.2rem;

      @include smallmobile {
        font-size: 3.4rem;
        line-height: 4rem;
      }
    }
    .k-row {
      align-items: flex-start;

      @include smallmobile {
        flex-direction: column;
        align-items: center;
        gap: 3.4rem;
      }
      .team-card {
        width: 31%;

        @include smallmobile {
          width: 100%;
          .founder-img {
            width: 28rem;
          }
        }
      }
      //   gap: 3rem;
      .founder-name {
        font-size: 24px;
        line-height: 32px;
        padding: 2.4rem 0 1rem 0;

        @include smallmobile {
          font-size: 2.2rem;
        }
      }
    }
  }
}
