.feature-title {
  font-size: 6.2rem;
  line-height: 8rem;
  padding: 2rem 0rem 1.2rem;

  @include smallmobile {
    font-size: 3.4rem;
    line-height: 4rem;
  }
}

.hero {
  .k-container {
    .k-row {
      .hero-left {
        .hero-subtitle {
          padding-right: 5rem;
          @include smallmobile {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.all-user {
  background-color: var(--white);
  padding: 9.2rem 0;

  @include smallmobile {
    padding: 8.8rem 0;
  }
  background-image: url("/assets/images/grid.svg");
  .k-container {
    background-color: var(--bg-color2);
    border-radius: 1rem;
    .k-row {
      padding: 4rem;

      @include smallmobile {
        flex-direction: column;
        align-items: unset;
        padding: 2rem;
      }
      // flex-wrap: unset;

      @include tablet {
        padding: 2rem;
      }
      @include laptop {
        // padding: 2rem;
      }

      .content-wrapper {
        width: 38%;
        @include smallmobile {
          width: 100%;
        }
        h3 {
          font-size: 2rem;
          line-height: 2.8rem;
          margin-bottom: 1.2rem;
        }

        h2 {
          font-size: 4.2rem;
          line-height: 5.2rem;
          margin-bottom: 1.2rem;
          @include smallmobile {
            font-size: 3.2rem;
            line-height: 4rem;
          }
        }

        p {
          @include smallmobile {
            font-size: 1.8rem;
            line-height: 2.7rem;
          }
        }
      }

      @include tablet {
        .image-wrapper {
          width: 60%;
        }
      }
      @include laptop {
        .image-wrapper {
          width: 60%;
        }
      }
    }
  }
}

.not-to-build {
  padding-top: 9.2rem;

  @include smallmobile {
    padding: 8.8rem 2rem 0;
  }
  .k-container {
    background-color: unset;
    padding: unset;
    border-radius: unset;
    width: 100%;
  }
  .feedback {
    color: var(--primary);
    text-align: center;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
    letter-spacing: -0.006em;
    margin-bottom: 1.2rem;

    @include smallmobile {
      text-align: start;
    }
  }
  .feedback-title {
    font-size: 4.2rem;
    line-height: 5.2rem;
    text-align: center;
    letter-spacing: -0.006em;
    margin-bottom: 1.2rem;
    @include smallmobile {
      font-size: 3.2rem;
      line-height: 4rem;
      text-align: start;
    }
  }
  .feedback-subtitle {
    width: 85.8rem;
    font-size: 2rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: center;
    letter-spacing: -0.006em;

    @include smallmobile {
      width: 100%;
      font-size: 1.8rem;
      line-height: 2.7rem;
      text-align: start;
    }

    @include tablet {
      width: 100%;
    }

    @include laptop {
      width: 100%;
    }
  }
}

.feedback-reasons {
  padding-top: 7.2rem;

  @include smallmobile {
    padding: 5.2rem 0 0;
  }

  @include tablet {
    padding: 7.2rem 2rem;
  }
  @include laptop {
    padding: 7.2rem 2rem;
  }
  .k-container {
    background-color: unset;
    padding: unset;
    border-radius: unset;
  }

  .k-grid {
    display: grid;
    // grid-template-columns: auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    justify-content: space-between;
    grid-row-gap: 6.8rem;
    grid-column-gap: 7rem;

    .item {
      // width: 36.5rem;
      // background: red;

      @include smallmobile {
        padding: 0 2rem;
      }

      .reason {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: -0.006em;
        color: var(--primary);
        font-family: "SharpGrotesk";
        font-weight: 500;
      }
      .reason-title {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.2rem;
        padding-top: 1.2rem;
      }
      .reason-desc {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: -0.006em;
        padding-top: 1.2rem;
      }
    }
  }
}

.all-user {
  .k-container {
    .k-row {
      // background-color: red;
      .image-wrapper {
        @include smallmobile {
          margin-top: 2rem;
        }
      }
    }
  }
  .roadmap {
    .k-container {
      .k-row {
      }
    }
    padding-top: 13.2rem;
    @include smallmobile {
      padding-top: 8.8rem;
    }
  }
}

.happy {
  padding: 10.2rem 10.2rem 0;
  background-color: var(--primary);
  background-image: url("/assets/images/grid.svg");

  @include smallmobile {
    padding: 7.2rem 2rem 0;
  }
  .k-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .happytitle {
      font-weight: 600;
      font-size: 5.8rem;
      line-height: 5.8rem;

      text-align: center;

      color: #ffffff;

      @include smallmobile {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
    .happy-cta {
      padding: 2rem 3.2rem;
      gap: 1rem;
      background-color: var(--black211);
      margin: 3.2rem 0;
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 600;
      color: var(--white);
    }
    .chip-container {
      display: flex;
      align-items: center;
      gap: 3.1rem;
      margin-bottom: 5.2rem;

      @include smallmobile {
        flex-direction: column;
        align-items: start;
      }
      .chip {
        display: flex;
        align-items: center;
        gap: 1.1rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.8rem;
        /* identical to box height, or 156% */

        color: var(--white);
      }
    }
  }

  .cropped {
    width: 15rem; /* width of container */
    height: 15rem; /* height of container */
    overflow: hidden;
    border: 0.5rem solid black;
  }

  .cropped img {
    margin: -10px 0px 0px -180px;
  }
  .happy-banner {
    height: 47rem;
    overflow: hidden;

    @include smallmobile {
      // height: 16rem;
      // max-height: 20rem;
      height: 20rem;
    }

    @include tablet {
      height: 27rem;
    }
    @include laptop {
      height: 39rem;
    }
  }
}
