// Extra small devices (phones): less than 576px
// Small devices (phones): 576px - 767px
// Medium devices (tablets): 768px - 991px
// Large devices (desktops): 992px - 1199px
// Extra large devices (large desktops): 1200px and up

$smallmobile: 576px;
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;
$lgdesktop: 1290px;

@mixin smallmobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (min-width: $smallmobile) and (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}
@mixin lgdesktop {
  @media only screen and (min-width: $desktop) and (max-width: $desktop) {
    @content;
  }
}
